<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-19T04:48:37Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Tool designed to help developers manage multiple coding agents, run tasks in parallel, and collaborate on software projects.</string>
	<key>developer</key>
	<string>OpenAI</string>
	<key>display_name</key>
	<string>Codex</string>
	<key>installer_item_hash</key>
	<string>7414480fe2a3195ee29a1ad9b8c23346cc257b09dcdd087ca050ba0d068d0e6f</string>
	<key>installer_item_location</key>
	<string>apps/Codex/Codex-26.415.40636.dmg</string>
	<key>installer_item_size</key>
	<integer>268551</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.openai.codex</string>
			<key>CFBundleName</key>
			<string>Codex</string>
			<key>CFBundleShortVersionString</key>
			<string>26.415.40636</string>
			<key>CFBundleVersion</key>
			<string>1799</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/Codex.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Codex.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>Codex</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>26.415.40636</string>
</dict>
</plist>
