<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-16T04:50:42Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Geekbench 6, the latest major upgrade to Primate Labs’ easy-to-use cross-platform benchmark, is now available for download. Geekbench 6 allows you to measure your system’s power more accurately than ever before.</string>
	<key>developer</key>
	<string>Primate Labs</string>
	<key>display_name</key>
	<string>Geekbench 6</string>
	<key>installer_item_hash</key>
	<string>ad6a10171173543ca447e91893985a5418b4b46494781f6fe6bd1af2824cc5c2</string>
	<key>installer_item_location</key>
	<string>apps/Geekbench6/Geekbench6-6.6.0__4.dmg</string>
	<key>installer_item_size</key>
	<integer>305473</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.primatelabs.Geekbench6</string>
			<key>CFBundleName</key>
			<string>Geekbench 6</string>
			<key>CFBundleShortVersionString</key>
			<string>6.6.0</string>
			<key>CFBundleVersion</key>
			<string>603593</string>
			<key>minosversion</key>
			<string>11.0.0</string>
			<key>path</key>
			<string>/Applications/Geekbench 6.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Geekbench 6.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.0.0</string>
	<key>name</key>
	<string>Geekbench6</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.6.0</string>
</dict>
</plist>
