<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-10-23T03:43:27Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>15.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>A kick ass tool for creating AutoPkg recipes.</string>
	<key>developer</key>
	<string>Elliot Jordan</string>
	<key>display_name</key>
	<string>Recipe Robot</string>
	<key>installer_item_hash</key>
	<string>694b62e76665088c6979ba0cfd375c58d140faedd47378936a212254b3b89266</string>
	<key>installer_item_location</key>
	<string>apps/Recipe Robot/Recipe Robot-2.4.2__1.dmg</string>
	<key>installer_item_size</key>
	<integer>3472</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.elliotjordan.recipe-robot</string>
			<key>CFBundleName</key>
			<string>Recipe Robot</string>
			<key>CFBundleShortVersionString</key>
			<string>2.4.2</string>
			<key>CFBundleVersion</key>
			<string>1532</string>
			<key>minosversion</key>
			<string>11.0</string>
			<key>path</key>
			<string>/Applications/Recipe Robot.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Recipe Robot.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Recipe Robot</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.4.2</string>
</dict>
</plist>
