<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-13T04:46:19Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>OS Utilities</string>
	<key>description</key>
	<string>AppCleaner is a small application which allows you to thoroughly uninstall unwanted apps.</string>
	<key>developer</key>
	<string>FreeMacSoft</string>
	<key>display_name</key>
	<string>AppCleaner Uninstaller Utility</string>
	<key>installer_item_hash</key>
	<string>1b2ac3888ddd4e84c797f30c4fc735e747c5e3af2bc30603ac54725221959665</string>
	<key>installer_item_location</key>
	<string>utilities/AppCleaner-3.6.8.dmg</string>
	<key>installer_item_size</key>
	<integer>3968</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.freemacsoft.AppCleaner</string>
			<key>CFBundleName</key>
			<string>AppCleaner</string>
			<key>CFBundleShortVersionString</key>
			<string>3.6.8</string>
			<key>CFBundleVersion</key>
			<string>4332</string>
			<key>minosversion</key>
			<string>10.14</string>
			<key>path</key>
			<string>/Applications/Utilities/AppCleaner.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications/Utilities</string>
			<key>source_item</key>
			<string>AppCleaner.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.14</string>
	<key>name</key>
	<string>AppCleaner</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.6.8</string>
</dict>
</plist>
