<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-07-11T04:53:08Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>PowerShell for every system!</string>
	<key>developer</key>
	<string>PowerShell Team</string>
	<key>display_name</key>
	<string>PowerShell</string>
	<key>installed_size</key>
	<integer>180108</integer>
	<key>installer_item_hash</key>
	<string>1eea7c558aed389b59370b62e78228e3d96869afd9a71fa7c1fc7833d024cd0b</string>
	<key>installer_item_location</key>
	<string>apps/PowerShell/PowerShell-x64-7.4.17__3.pkg</string>
	<key>installer_item_size</key>
	<integer>70549</integer>
	<key>name</key>
	<string>PowerShell</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>180108</integer>
			<key>packageid</key>
			<string>com.microsoft.powershell</string>
			<key>version</key>
			<string>7.4.17</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.4.17</string>
</dict>
</plist>
