<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-13T05:13:04Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>PowerShell for every system!</string>
	<key>developer</key>
	<string>PowerShell Team</string>
	<key>display_name</key>
	<string>PowerShell</string>
	<key>installed_size</key>
	<integer>180003</integer>
	<key>installer_item_hash</key>
	<string>f4d2529384772ddc398fd478723381561a88d1ace468ae2107da32ab05ac5daa</string>
	<key>installer_item_location</key>
	<string>apps/PowerShell/PowerShell-x64-7.4.14.pkg</string>
	<key>installer_item_size</key>
	<integer>70518</integer>
	<key>name</key>
	<string>PowerShell</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>180003</integer>
			<key>packageid</key>
			<string>com.microsoft.powershell</string>
			<key>version</key>
			<string>7.4.14</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.4.14</string>
</dict>
</plist>
