<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-02-05T21:28:24Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Enhance The Way You Work with Spatial Audio

Welcome to Atlas, where innovation meets simplicity.

Designed for theatre, live events, concerts and immersive experiences.</string>
	<key>developer</key>
	<string>Flamingo Solutions Ltd</string>
	<key>display_name</key>
	<string>Atlas</string>
	<key>installer_item_hash</key>
	<string>4e8c5dbdc55356607034d5cbe4f39d198cd222260653baa969ee1feeb4d7c482</string>
	<key>installer_item_location</key>
	<string>apps/Atlas/Atlas-2.1.2.dmg</string>
	<key>installer_item_size</key>
	<integer>30378</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.flamingosoftware.atlas</string>
			<key>CFBundleName</key>
			<string>Atlas</string>
			<key>CFBundleShortVersionString</key>
			<string>2.1.2</string>
			<key>CFBundleVersion</key>
			<string>326</string>
			<key>minosversion</key>
			<string>14.6</string>
			<key>path</key>
			<string>/Applications/Atlas.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Atlas.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>14.6</string>
	<key>name</key>
	<string>Atlas</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1.2</string>
</dict>
</plist>
