<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dwbergstrom.auto-autopkg-ts</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/dwbergstrom/github/munki_files/autopkg/auto-autopkg-ts.sh</string>
	</array>
	
	<key>WorkingDirectory</key>
	<string>/Volumes/M4_Dock/munki_files/autopkg</string>
	
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
	</dict>
	
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>45</integer>
	</dict>
	
	<key>StandardErrorPath</key>
	<string>/Users/dwbergstrom/Library/Logs/auto-autopkg-ts.err</string>
	<key>StandardOutPath</key>
	<string>/Users/dwbergstrom/Library/Logs/auto-autopkg-ts.out</string>
	
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>