<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dwbergstrom.auto-autopkg</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/dwbergstrom/github/munki_files/autopkg/auto-autopkg.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>20</integer>
    </dict>
    
    <key>StandardErrorPath</key>
    <string>/Users/dwbergstrom/Library/Logs/auto-autopkg.err</string>
    <key>StandardOutPath</key>
    <string>/Users/dwbergstrom/Library/Logs/auto-autopkg.out</string>
</dict>
</plist>