<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-07-09T00:46:04Z</date>
		<key>munki_version</key>
		<string>6.4.2.4634</string>
		<key>os_version</key>
		<string>12.7.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Automates deployment of containerized applications.</string>
	<key>developer</key>
	<string>Docker</string>
	<key>display_name</key>
	<string>Docker</string>
	<key>installer_item_hash</key>
	<string>b2571ed2a749572675330d31d0de7ef53425ef8b722b54239ab7eb927eeebcb8</string>
	<key>installer_item_location</key>
	<string>apps/Docker/Docker-amd64-4.31.0.dmg</string>
	<key>installer_item_size</key>
	<integer>490937</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.docker.docker</string>
			<key>CFBundleName</key>
			<string>Docker</string>
			<key>CFBundleShortVersionString</key>
			<string>4.31.0</string>
			<key>CFBundleVersion</key>
			<string>153195</string>
			<key>minosversion</key>
			<string>11.0</string>
			<key>path</key>
			<string>/Applications/Docker.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Docker.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Docker</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.31.0</string>
</dict>
</plist>
