<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-19T04:48:15Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>ChatGPT is an AI-powered assistant that helps you with writing, brainstorming, coding, research, and more — right from your Mac. The native macOS app provides a fast, streamlined experience with easy access via the menu bar and system-wide shortcut. Employees can securely log in with their OpenAI account to access personalized AI assistance for day-to-day tasks, project support, and productivity enhancements.</string>
	<key>developer</key>
	<string>OpenAI</string>
	<key>display_name</key>
	<string>ChatGPT</string>
	<key>installed_size</key>
	<integer>132543</integer>
	<key>installer_item_hash</key>
	<string>8285b9cea75b74bf71d2864a7667be102996f9e97e91b584cf68b7cfdb3c198f</string>
	<key>installer_item_location</key>
	<string>apps/ChatGPT/OpenAI_ChatGPT_1.2026.098__1.pkg</string>
	<key>installer_item_size</key>
	<integer>60746</integer>
	<key>name</key>
	<string>ChatGPT</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>132543</integer>
			<key>packageid</key>
			<string>com.openai.chat</string>
			<key>version</key>
			<string>1.2026.098</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.2026.098</string>
</dict>
</plist>
