<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2023-05-10T02:41:00Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>development</string>
	</array>
	<key>description</key>
	<string>AutoPkgr is a free Mac app that makes it easy to install and configure AutoPkg.</string>
	<key>developer</key>
	<string>Linde Group, Inc.</string>
	<key>display_name</key>
	<string>AutoPkgr</string>
	<key>installer_item_hash</key>
	<string>0cb70cd08102124a5bfa6f02d2a38001ab4b0b659bdf968821e91abb776b0a6e</string>
	<key>installer_item_location</key>
	<string>apps/AutoPkgr/AutoPkgr-1.6.dmg</string>
	<key>installer_item_size</key>
	<integer>4646</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.lindegroup.AutoPkgr</string>
			<key>CFBundleName</key>
			<string>AutoPkgr</string>
			<key>CFBundleShortVersionString</key>
			<string>1.6</string>
			<key>CFBundleVersion</key>
			<string>1506</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/AutoPkgr.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>AutoPkgr.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>AutoPkgr</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.6</string>
</dict>
</plist>
