<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-07-10T04:49:48Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>DFU Blaster is the easiest way to put a Mac into DFU mode.</string>
	<key>developer</key>
	<string>Twocanoes Software</string>
	<key>display_name</key>
	<string>DFU Blaster</string>
	<key>icon_name</key>
	<string>DFUBlaster.png</string>
	<key>installed_size</key>
	<integer>12950</integer>
	<key>installer_item_hash</key>
	<string>9084c38301beb24a232377984f9f0f909f91c8f79c10f09c6e1c100ede2a2cf9</string>
	<key>installer_item_location</key>
	<string>utilities/DFUBlaster/DFUBlaster-5.0.3567__3.dmg</string>
	<key>installer_item_size</key>
	<integer>5101</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.twocanoes.DFU-Blaster-Pro</string>
			<key>CFBundleName</key>
			<string>DFU Blaster Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0</string>
			<key>CFBundleVersion</key>
			<string>3567</string>
			<key>minosversion</key>
			<string>15.0</string>
			<key>path</key>
			<string>/Applications/DFU Blaster Pro.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>15.0</string>
	<key>name</key>
	<string>DFUBlaster</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>12950</integer>
			<key>packageid</key>
			<string>com.twocanoes.pkg.DFU-Blaster</string>
			<key>version</key>
			<string>5.0.3567</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/sh
# Uninstall script adapted from DFU Blaster Uninstall package
if [ -d "/Applications/DFU Blaster.app" ] ; then
	echo "Removing DFU Blaster.app"
	rm -rf "/Applications/DFU Blaster.app"
fi

if [ -e "/Library/LaunchDaemons/com.twocanoes.dfublasterhelper.plist" ] ; then
	echo "Removing DFU Blaster Helper LaunchDaemon"
	cd "/Library/LaunchDaemons"
	launchctl stop com.twocanoes.dfublasterhelper
	launchctl unload com.twocanoes.dfublasterhelper.plist
	rm com.twocanoes.dfublasterhelper.plist
	echo "Done removing DFU Blaster Helper LaunchDaemon"
fi

if [ -e "/Library/PrivilegedHelperTools/com.twocanoes.dfublasterhelper" ] ; then
	echo "Removing DFU Blaster Helper Tool"
	rm "/Library/PrivilegedHelperTools/com.twocanoes.dfublasterhelper"
	echo "Done removing DFU Blaster Helper Tool"
fi</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.0.3567</string>
</dict>
</plist>
