<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-16T04:48:52Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>macOS app for downloading Windows installer ISOs from UUPDump.</string>
	<key>developer</key>
	<string>Turing Software</string>
	<key>display_name</key>
	<string>CrystalFetch</string>
	<key>installer_item_hash</key>
	<string>6e428a419bc5deded21da0c9eafae4507fd5b2fb6e2c8cf8b59f97522f01deee</string>
	<key>installer_item_location</key>
	<string>apps/CrystalFetch/CrystalFetch-2.2.0__3.dmg</string>
	<key>installer_item_size</key>
	<integer>4271</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>llc.turing.CrystalFetch</string>
			<key>CFBundleName</key>
			<string>CrystalFetch</string>
			<key>CFBundleShortVersionString</key>
			<string>2.2.0</string>
			<key>CFBundleVersion</key>
			<string>6</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/CrystalFetch.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>CrystalFetch.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>CrystalFetch</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.2.0</string>
</dict>
</plist>
