<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-09-18T05:12:24Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>A web browser developed by Opera Software.</string>
	<key>developer</key>
	<string>Opera</string>
	<key>display_name</key>
	<string>Opera</string>
	<key>installer_item_hash</key>
	<string>ea6fc6c554c06be615dc9e10675af4c73094538a82c11b4bc0e6c59c6ea78e6b</string>
	<key>installer_item_location</key>
	<string>opera/opera/Opera-136.0.6008.22.dmg</string>
	<key>installer_item_size</key>
	<integer>173277</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.operasoftware.Opera</string>
			<key>CFBundleName</key>
			<string>Opera</string>
			<key>CFBundleShortVersionString</key>
			<string>136.0</string>
			<key>CFBundleVersion</key>
			<string>136.0.6008.22</string>
			<key>minosversion</key>
			<string>13.0</string>
			<key>path</key>
			<string>/Applications/Opera.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Opera.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>13.0</string>
	<key>name</key>
	<string>Opera</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>136.0.6008.22</string>
</dict>
</plist>
