<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-13T02:10:35Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>A web browser developed by Opera Software.</string>
	<key>developer</key>
	<string>Opera</string>
	<key>display_name</key>
	<string>Opera</string>
	<key>installer_item_hash</key>
	<string>0f46a0f5c2adb38652117efa5cd2c63062ef60a73a60fb8c3974277f376f9b72</string>
	<key>installer_item_location</key>
	<string>opera/opera/Opera-130.0.5847.12.dmg</string>
	<key>installer_item_size</key>
	<integer>168061</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.operasoftware.Opera</string>
			<key>CFBundleName</key>
			<string>Opera</string>
			<key>CFBundleShortVersionString</key>
			<string>130.0</string>
			<key>CFBundleVersion</key>
			<string>130.0.5847.12</string>
			<key>minosversion</key>
			<string>11.0</string>
			<key>path</key>
			<string>/Applications/Opera.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Opera.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Opera</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>130.0.5847.12</string>
</dict>
</plist>
