<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-01-22T05:45:21Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>1Password 7</string>
		<string>1Password Browser Helper</string>
		<string>1Password</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>1Password is a password manager that goes beyond simple password storage by integrating directly with your web browser to automatically log you into websites, enter credit card information, fill registration forms, and easily generate strong passwords.</string>
	<key>developer</key>
	<string>AgileBits Inc.</string>
	<key>display_name</key>
	<string>1Password</string>
	<key>installed_size</key>
	<integer>854061</integer>
	<key>installer_item_hash</key>
	<string>5811a4d0edb1ffb97276377382dd775860fc8d5353cd7d8c40eaf5b2c2ce617c</string>
	<key>installer_item_location</key>
	<string>apps/1Password-8.12.0__3.pkg</string>
	<key>installer_item_size</key>
	<integer>343370</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.1password.1password</string>
			<key>CFBundleName</key>
			<string>1Password</string>
			<key>CFBundleShortVersionString</key>
			<string>8.12.0</string>
			<key>CFBundleVersion</key>
			<string>8.12.0.417987</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/1Password.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>1Password</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash

LOGGED_IN_USER=$(/usr/bin/stat -f%Su /dev/console); 

/usr/sbin/chown -R "$LOGGED_IN_USER":staff "/Applications/1Password.app"

</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>854061</integer>
			<key>packageid</key>
			<string>com.1password.1password</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>8.12.0</string>
</dict>
</plist>
