<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-09-25T02:41:32Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>iTerm2 is a replacement for Terminal and the successor to iTerm. It works on Macs with OS 10.5 (Leopard) or newer. Its focus is on performance, internationalization, and supporting innovative features that make your life better.</string>
	<key>developer</key>
	<string>George Nachman</string>
	<key>display_name</key>
	<string>iTerm2</string>
	<key>installer_item_hash</key>
	<string>f88bc0761fc86893723d46aafa2fa41b517521c865452eb046cd0bb08e450eec</string>
	<key>installer_item_location</key>
	<string>apps/iTerm2-3.6.2.dmg</string>
	<key>installer_item_size</key>
	<integer>51355</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.googlecode.iterm2</string>
			<key>CFBundleName</key>
			<string>iTerm2</string>
			<key>CFBundleShortVersionString</key>
			<string>3.6.2</string>
			<key>CFBundleVersion</key>
			<string>3.6.2</string>
			<key>minosversion</key>
			<string>12.4</string>
			<key>path</key>
			<string>/Applications/iTerm.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>iTerm.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.4</string>
	<key>name</key>
	<string>iTerm2</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.6.2</string>
</dict>
</plist>
