<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-09-16T05:00:16Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Software</string>
	<key>description</key>
	<string>Oracle VM VirtualBox is a free and open-source hypervisor for x86 computers currently being developed by Oracle Corporation.</string>
	<key>developer</key>
	<string>Oracle Corporation</string>
	<key>display_name</key>
	<string>VirtualBox</string>
	<key>installed_size</key>
	<integer>284557</integer>
	<key>installer_item_hash</key>
	<string>31baa81db388a50fe438fd93418898619bb280e4e2722e72f66b70f0ba2981f8</string>
	<key>installer_item_location</key>
	<string>apps/VirtualBox-7.2.18.dmg</string>
	<key>installer_item_size</key>
	<integer>146723</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.virtualbox.app.VirtualBox</string>
			<key>CFBundleName</key>
			<string>VirtualBox</string>
			<key>CFBundleShortVersionString</key>
			<string>7.2.18</string>
			<key>CFBundleVersion</key>
			<string>7.2.18</string>
			<key>path</key>
			<string>/Applications/VirtualBox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>name</key>
	<string>VirtualBox</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>284550</integer>
			<key>packageid</key>
			<string>org.virtualbox.pkg.virtualbox</string>
			<key>version</key>
			<string>7.2.18</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>org.virtualbox.pkg.virtualboxcli</string>
			<key>version</key>
			<string>7.2.18</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.2.18</string>
</dict>
</plist>
