<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-12-03T21:26:38Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.0.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Visual Studio Code</string>
	<key>installer_item_hash</key>
	<string>9fc1062d352e2d5d7e1ce7c756016baf21d96dfbaf8fd13d8325d56a020c198a</string>
	<key>installer_item_location</key>
	<string>apps/Visual Studio Code-1.95.3.dmg</string>
	<key>installer_item_size</key>
	<integer>226966</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.VSCode</string>
			<key>CFBundleName</key>
			<string>Code</string>
			<key>CFBundleShortVersionString</key>
			<string>1.95.3</string>
			<key>CFBundleVersion</key>
			<string>1.95.3</string>
			<key>minosversion</key>
			<string>10.15</string>
			<key>path</key>
			<string>/Applications/Visual Studio Code.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Visual Studio Code.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15</string>
	<key>name</key>
	<string>Visual Studio Code</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.95.3</string>
</dict>
</plist>
