<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-08-30T04:49:33Z</date>
		<key>munki_version</key>
		<string>6.6.0.4686</string>
		<key>os_version</key>
		<string>14.4.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Developer Tools</string>
	<key>description</key>
	<string>JetBrains DataSpell: Essential tools for data analysts.</string>
	<key>developer</key>
	<string>JetBrains</string>
	<key>display_name</key>
	<string>DataSpell</string>
	<key>installer_item_hash</key>
	<string>d64d0a1c53f06aecc16f24c3203c662576ad89dc5939e5bc94417a2991b23c63</string>
	<key>installer_item_location</key>
	<string>apps/jetbrains/dataspell-2024.2.1-aarch64-2024.2.1.dmg</string>
	<key>installer_item_size</key>
	<integer>1029685</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jetbrains.dataspell</string>
			<key>CFBundleName</key>
			<string>DataSpell</string>
			<key>CFBundleShortVersionString</key>
			<string>2024.2.1</string>
			<key>CFBundleVersion</key>
			<string>DS-242.21829.112</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/DataSpell.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>DataSpell.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>DataSpell</string>
	<key>supported_architectures</key>
	<array>
		<string>arm64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2024.2.1</string>
</dict>
</plist>
