<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-07-31T18:01:14Z</date>
		<key>munki_version</key>
		<string>6.5.1.4661</string>
		<key>os_version</key>
		<string>14.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Developer Tools</string>
	<key>description</key>
	<string>JetBrains DataSpell: Essential tools for data analysts.</string>
	<key>developer</key>
	<string>JetBrains</string>
	<key>display_name</key>
	<string>DataSpell</string>
	<key>installer_item_hash</key>
	<string>fa8f9c77b2fab31ea383a492c7a061e4b297e6581df4a5c116de9aec4a52c86d</string>
	<key>installer_item_location</key>
	<string>apps/jetbrains/dataspell-2024.1.3-aarch64-2024.1.3.dmg</string>
	<key>installer_item_size</key>
	<integer>979423</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jetbrains.dataspell</string>
			<key>CFBundleName</key>
			<string>DataSpell</string>
			<key>CFBundleShortVersionString</key>
			<string>2024.1.3</string>
			<key>CFBundleVersion</key>
			<string>DS-241.18034.23</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/DataSpell.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>DataSpell.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>DataSpell</string>
	<key>supported_architectures</key>
	<array>
		<string>arm64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2024.1.3</string>
</dict>
</plist>
