<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-08-21T04:49:32Z</date>
		<key>munki_version</key>
		<string>6.6.0.4686</string>
		<key>os_version</key>
		<string>14.4.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Developer Tools</string>
	<key>description</key>
	<string>JetBrains RustRover: The Rust IDE for Productivity.</string>
	<key>developer</key>
	<string>JetBrains</string>
	<key>display_name</key>
	<string>RustRover</string>
	<key>installer_item_hash</key>
	<string>533bb27ab515989b946bd5c72d0fa36417b248a8d2ec9f16a6ca32cc98e56048</string>
	<key>installer_item_location</key>
	<string>apps/jetbrains/RustRover-2024.1.8-aarch64-2024.1.8.dmg</string>
	<key>installer_item_size</key>
	<integer>699260</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jetbrains.rustrover</string>
			<key>CFBundleName</key>
			<string>RustRover</string>
			<key>CFBundleShortVersionString</key>
			<string>2024.1.8</string>
			<key>CFBundleVersion</key>
			<string>RR-241.18968.39</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/RustRover.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>RustRover.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>RustRover</string>
	<key>supported_architectures</key>
	<array>
		<string>arm64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2024.1.8</string>
</dict>
</plist>
