<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-07-13T20:48:49Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>A Mac utility that automatically downloads macOS Firmwares / Installers.</string>
	<key>developer</key>
	<string>ninxsoft</string>
	<key>display_name</key>
	<string>mist</string>
	<key>installed_size</key>
	<integer>20556</integer>
	<key>installer_item_hash</key>
	<string>12715f8906ac9d0ede6f0665e703c323bdfcc99e54c8fae3a4ad8c516374483f</string>
	<key>installer_item_location</key>
	<string>apps/mist/mist-0.40.pkg</string>
	<key>installer_item_size</key>
	<integer>14077</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ninxsoft.mist</string>
			<key>CFBundleName</key>
			<string>Mist</string>
			<key>CFBundleShortVersionString</key>
			<string>0.40</string>
			<key>CFBundleVersion</key>
			<string>0.40</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/Mist.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>mist</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>20556</integer>
			<key>packageid</key>
			<string>com.ninxsoft.pkg.mist</string>
			<key>version</key>
			<string>0.40</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.40</string>
</dict>
</plist>
