<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2023-12-02T04:26:43Z</date>
		<key>munki_version</key>
		<string>6.3.4.4598</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Edge web browser</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Edge</string>
	<key>installed_size</key>
	<integer>818478</integer>
	<key>installer_item_hash</key>
	<string>786f8c5d3c53e54ddcf14d780164f1bc7f21483a5e01988a1b930b2aa790e7b0</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/Microsoft_Edge-119.0.2151.97.pkg</string>
	<key>installer_item_size</key>
	<integer>365142</integer>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MicrosoftEdge</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>818478</integer>
			<key>packageid</key>
			<string>com.microsoft.edgemac</string>
			<key>version</key>
			<string>119.0.2151.97</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>119.0.2151.97</string>
</dict>
</plist>
