<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-09-04T04:49:05Z</date>
		<key>munki_version</key>
		<string>6.6.0.4686</string>
		<key>os_version</key>
		<string>14.4.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Edge web browser</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Edge</string>
	<key>installed_size</key>
	<integer>874508</integer>
	<key>installer_item_hash</key>
	<string>b11b4ac5ce6b15efba621934908a8714145ce64965fc4f9853b26fe5b61d43d3</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/Microsoft_Edge-128.0.2739.63.pkg</string>
	<key>installer_item_size</key>
	<integer>385809</integer>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MicrosoftEdge</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>874508</integer>
			<key>packageid</key>
			<string>com.microsoft.edgemac</string>
			<key>version</key>
			<string>128.0.2739.63</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>128.0.2739.63</string>
</dict>
</plist>
