<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-01-09T05:48:12Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Edge web browser</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Edge</string>
	<key>installed_size</key>
	<integer>937856</integer>
	<key>installer_item_hash</key>
	<string>b46a657b6edf2cfcb5eba490b63f10f039a711cd8e6e2f62e87819d9f207dae9</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/Microsoft_Edge-143.0.3650.139.pkg</string>
	<key>installer_item_size</key>
	<integer>407218</integer>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MicrosoftEdge</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>937856</integer>
			<key>packageid</key>
			<string>com.microsoft.edgemac</string>
			<key>version</key>
			<string>143.0.3650.139</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>143.0.3650.139</string>
</dict>
</plist>
