<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2023-12-21T20:40:45Z</date>
		<key>munki_version</key>
		<string>6.3.5.4619</string>
		<key>os_version</key>
		<string>12.7.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Edge web browser</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Edge</string>
	<key>installed_size</key>
	<integer>829401</integer>
	<key>installer_item_hash</key>
	<string>9d27f4182b155c62c4168e9ac6c365811228f0cfcf4ab239e00131d74152a3a6</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/Microsoft_Edge-120.0.2210.91.pkg</string>
	<key>installer_item_size</key>
	<integer>369683</integer>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MicrosoftEdge</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>829401</integer>
			<key>packageid</key>
			<string>com.microsoft.edgemac</string>
			<key>version</key>
			<string>120.0.2210.91</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>120.0.2210.91</string>
</dict>
</plist>
