<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-12-20T18:39:57Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.0.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>A new productivity-focused web browser.</string>
	<key>developer</key>
	<string>The Browser Company of New York</string>
	<key>display_name</key>
	<string>Arc</string>
	<key>installer_item_hash</key>
	<string>3648fea545d96d916bf31b9d25170aa3eb0c7f4577b889060b36f28c8a21d8a0</string>
	<key>installer_item_location</key>
	<string>apps/Arc/Arc-1.74.0.dmg</string>
	<key>installer_item_size</key>
	<integer>436200</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>company.thebrowser.Browser</string>
			<key>CFBundleName</key>
			<string>Arc</string>
			<key>CFBundleShortVersionString</key>
			<string>1.74.0</string>
			<key>CFBundleVersion</key>
			<string>57065</string>
			<key>minosversion</key>
			<string>13.0.0</string>
			<key>path</key>
			<string>/Applications/Arc.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Arc.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>13.0.0</string>
	<key>name</key>
	<string>Arc</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.74.0</string>
</dict>
</plist>
