<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-10-10T16:07:22Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.0</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Suspicious Package: An Application for Inspecting OS X Installer Packages</string>
	<key>display_name</key>
	<string>Suspicious Package App</string>
	<key>installer_item_hash</key>
	<string>fff88bec145da31f8a0350899c6b6d5108947ec92e05e306adfd5850db7f9bdd</string>
	<key>installer_item_location</key>
	<string>apps/mothersruin/SuspiciousPackage-4.5.dmg</string>
	<key>installer_item_size</key>
	<integer>6776</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mothersruin.SuspiciousPackageApp</string>
			<key>CFBundleName</key>
			<string>Suspicious Package</string>
			<key>CFBundleShortVersionString</key>
			<string>4.5</string>
			<key>CFBundleVersion</key>
			<string>1213</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/Suspicious Package.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Suspicious Package.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>SuspiciousPackageApp</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.5</string>
</dict>
</plist>
