<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-14T04:48:47Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Your AI partner on desktop. Fast, focused, and designed for deep work.</string>
	<key>developer</key>
	<string>Anthropic PBC</string>
	<key>display_name</key>
	<string>Claude</string>
	<key>installer_item_hash</key>
	<string>bc331dbc2a7abc09d78d543be5872965c4a7e4e53a310d67a755d69b83e89741</string>
	<key>installer_item_location</key>
	<string>apps/Claude/Claude-1.1617.0__1.dmg</string>
	<key>installer_item_size</key>
	<integer>282717</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.anthropic.claudefordesktop</string>
			<key>CFBundleName</key>
			<string>Claude</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1617.0</string>
			<key>CFBundleVersion</key>
			<string>1.1617.0</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/Claude.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Claude.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>Claude</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1617.0</string>
</dict>
</plist>
