<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-11-03T22:54:04Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.0.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Browsers</string>
	<key>description</key>
	<string>The new Brave browser blocks ads and trackers that slow you down and invade your privacy. Discover a new way of thinking about how the web can work.</string>
	<key>developer</key>
	<string>Brave Software Inc.</string>
	<key>display_name</key>
	<string>Brave Browser</string>
	<key>installer_item_hash</key>
	<string>303ef2d75ff85566dfd366c608defd419a2c49407a49afb36f31ab5c56c8531f</string>
	<key>installer_item_location</key>
	<string>apps/Brave/Brave-142.1.84.132__1.dmg</string>
	<key>installer_item_size</key>
	<integer>226993</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.brave.Browser</string>
			<key>CFBundleName</key>
			<string>Brave</string>
			<key>CFBundleShortVersionString</key>
			<string>142.1.84.132</string>
			<key>CFBundleVersion</key>
			<string>184.132</string>
			<key>minosversion</key>
			<string>12.0</string>
			<key>path</key>
			<string>/Applications/Brave Browser.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Brave Browser.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>12.0</string>
	<key>name</key>
	<string>Brave</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>142.1.84.132</string>
</dict>
</plist>
