<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2023-12-15T04:43:37Z</date>
		<key>munki_version</key>
		<string>6.3.5.4619</string>
		<key>os_version</key>
		<string>12.7.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Fast Terminal app based in Rust.</string>
	<key>developer</key>
	<string>Denver Technologies</string>
	<key>display_name</key>
	<string>Warp</string>
	<key>installer_item_hash</key>
	<string>238e9775a475390ff9e6cab61c16ed8e5d51383d77fae5cc309b2ee19ecf2cd5</string>
	<key>installer_item_location</key>
	<string>apps/Warp/Warp-20231215.022506.dmg</string>
	<key>installer_item_size</key>
	<integer>70053</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>dev.warp.Warp-Stable</string>
			<key>CFBundleName</key>
			<string>Warp</string>
			<key>CFBundleShortVersionString</key>
			<string>0.1.0</string>
			<key>CFBundleVersion</key>
			<string>20231215.022506</string>
			<key>path</key>
			<string>/Applications/Warp.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Warp.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Warp</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>20231215.022506</string>
</dict>
</plist>
