<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-06-20T04:49:10Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.5.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string> </string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>GarageBand</string>
	<key>installed_size</key>
	<integer>4065465</integer>
	<key>installer_item_hash</key>
	<string>9e0744d9cb7a69b05c2d9a219d0d600fa09d64cd2f97f1ace68d5770c6b37a52</string>
	<key>installer_item_location</key>
	<string>apps/GarageBand/GarageBand-10.4.14__14.pkg</string>
	<key>installer_item_size</key>
	<integer>2973667</integer>
	<key>minimum_os_version</key>
	<string>15.6</string>
	<key>name</key>
	<string>GarageBand</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>4065465</integer>
			<key>packageid</key>
			<string>com.apple.garageband10</string>
			<key>version</key>
			<string>10.4.14</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.4.14</string>
</dict>
</plist>
