<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-19T04:51:01Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Little Snitch is a host-based application firewall for macOS.</string>
	<key>developer</key>
	<string>Objective Development</string>
	<key>display_name</key>
	<string>Little Snitch 6</string>
	<key>installer_item_hash</key>
	<string>9180c2ee2f69259d920255258930783aa7c9cc1ffbbb128920df2f51a9955265</string>
	<key>installer_item_location</key>
	<string>apps/LittleSnitch6/LittleSnitch6-6.3.3__6.dmg</string>
	<key>installer_item_size</key>
	<integer>35898</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>at.obdev.littlesnitch</string>
			<key>CFBundleName</key>
			<string>Little Snitch</string>
			<key>CFBundleShortVersionString</key>
			<string>6.3.3</string>
			<key>CFBundleVersion</key>
			<string>7172</string>
			<key>minosversion</key>
			<string>14.0</string>
			<key>path</key>
			<string>/Applications/Little Snitch.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Little Snitch.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>14.0</string>
	<key>name</key>
	<string>LittleSnitch6</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.3.3</string>
</dict>
</plist>
