<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-09-13T04:51:04Z</date>
		<key>munki_version</key>
		<string>6.6.1.4696</string>
		<key>os_version</key>
		<string>14.6.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>VPN</string>
	<key>description</key>
	<string>Secure remote access to shared resources. Tailscale connects your team's devices and development environments for easy access to remote resources.</string>
	<key>developer</key>
	<string>Tailscale Inc.</string>
	<key>display_name</key>
	<string>Tailscale</string>
	<key>installer_item_hash</key>
	<string>e50c7b188a657252f7e9795c01b87bfa6afd314ffad7436da245293e9d1f19f4</string>
	<key>installer_item_location</key>
	<string>apps/tailscale/Tailscale-1.74.0.dmg</string>
	<key>installer_item_size</key>
	<integer>25738</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>io.tailscale.ipn.macsys</string>
			<key>CFBundleName</key>
			<string>Tailscale</string>
			<key>CFBundleShortVersionString</key>
			<string>1.74.0</string>
			<key>CFBundleVersion</key>
			<string>101.74.0</string>
			<key>minosversion</key>
			<string>11.0</string>
			<key>path</key>
			<string>/Applications/Tailscale.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Tailscale.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Tailscale</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.74.0</string>
</dict>
</plist>
