<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-05-10T04:48:13Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Supercharged productivity

Raycast is a blazingly fast, totally extendable launcher. It lets you complete tasks, calculate, share common links, and much more.</string>
	<key>developer</key>
	<string>Raycast Technologies Inc</string>
	<key>display_name</key>
	<string>Raycast</string>
	<key>installer_item_hash</key>
	<string>10dfb7473608c72027ff85a8b16a6fd7824ef6f6057d2823f7dc90cd5140ffea</string>
	<key>installer_item_location</key>
	<string>apps/Raycast/Raycast-1.98.2.dmg</string>
	<key>installer_item_size</key>
	<integer>89039</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.raycast.macos</string>
			<key>CFBundleName</key>
			<string>Raycast</string>
			<key>CFBundleShortVersionString</key>
			<string>1.98.2</string>
			<key>CFBundleVersion</key>
			<string>0</string>
			<key>minosversion</key>
			<string>13.0</string>
			<key>path</key>
			<string>/Applications/Raycast.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Raycast.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>13.0</string>
	<key>name</key>
	<string>Raycast</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.98.2</string>
</dict>
</plist>
