<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-12-29T05:47:50Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Supercharged productivity

Raycast is a blazingly fast, totally extendable launcher. It lets you complete tasks, calculate, share common links, and much more.</string>
	<key>developer</key>
	<string>Raycast Technologies Inc</string>
	<key>display_name</key>
	<string>Raycast</string>
	<key>installer_item_hash</key>
	<string>6470235854c0e130cf8634b2bf02df9bc22ccede6dc835d3e39359524f974c6f</string>
	<key>installer_item_location</key>
	<string>apps/Raycast/Raycast-1.104.1__12.dmg</string>
	<key>installer_item_size</key>
	<integer>108989</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.raycast.macos</string>
			<key>CFBundleName</key>
			<string>Raycast</string>
			<key>CFBundleShortVersionString</key>
			<string>1.104.1</string>
			<key>CFBundleVersion</key>
			<string>0</string>
			<key>minosversion</key>
			<string>13.0</string>
			<key>path</key>
			<string>/Applications/Raycast.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Raycast.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>13.0</string>
	<key>name</key>
	<string>Raycast</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.104.1</string>
</dict>
</plist>
