<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-07-18T20:00:22Z</date>
		<key>munki_version</key>
		<string>6.5.1.4661</string>
		<key>os_version</key>
		<string>14.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Virtual machines for iOS and macOS</string>
	<key>developer</key>
	<string>Turing Software, LLC</string>
	<key>display_name</key>
	<string>UTM</string>
	<key>installer_item_hash</key>
	<string>ee1a564dee93be7368745b75ad2446a2e81e66e123bd27ae57305615f628e776</string>
	<key>installer_item_location</key>
	<string>apps/UTM/UTM-4.5.3.dmg</string>
	<key>installer_item_size</key>
	<integer>234598</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.utmapp.UTM</string>
			<key>CFBundleName</key>
			<string>UTM</string>
			<key>CFBundleShortVersionString</key>
			<string>4.5.3</string>
			<key>CFBundleVersion</key>
			<string>99</string>
			<key>minosversion</key>
			<string>11.3</string>
			<key>path</key>
			<string>/Applications/UTM.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>UTM.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.3</string>
	<key>name</key>
	<string>UTM</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.5.3</string>
</dict>
</plist>
