<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-11-27T14:13:07Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.0.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Virtual machines for iOS and macOS</string>
	<key>developer</key>
	<string>Turing Software, LLC</string>
	<key>display_name</key>
	<string>UTM</string>
	<key>installer_item_hash</key>
	<string>e259e81fd142acbdc4596369980118cfe5c2c4f491ed96bf5bc606c405d79ace</string>
	<key>installer_item_location</key>
	<string>apps/UTM/UTM-4.7.4__10.dmg</string>
	<key>installer_item_size</key>
	<integer>244123</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.utmapp.UTM</string>
			<key>CFBundleName</key>
			<string>UTM</string>
			<key>CFBundleShortVersionString</key>
			<string>4.7.4</string>
			<key>CFBundleVersion</key>
			<string>115</string>
			<key>minosversion</key>
			<string>11.3</string>
			<key>path</key>
			<string>/Applications/UTM.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>UTM.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>11.3</string>
	<key>name</key>
	<string>UTM</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.7.4</string>
</dict>
</plist>
