<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2023-12-15T02:56:36Z</date>
		<key>munki_version</key>
		<string>6.3.4.4598</string>
		<key>os_version</key>
		<string>12.7.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Managed Software Center application.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center</string>
	<key>icon_name</key>
	<string></string>
	<key>installed_size</key>
	<integer>29038</integer>
	<key>installer_item_hash</key>
	<string>62ecf9e0691bad3665a464b40cd8993b7735908bfc17963541696f4e177efc1d</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_app-6.2.2.4618__1.pkg</string>
	<key>installer_item_size</key>
	<integer>10874</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>29038</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>6.2.2.4618</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_python</string>
		<string>munkitools_core</string>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.2.2.4618</string>
</dict>
</plist>
