<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-09-22T04:55:45Z</date>
		<key>munki_version</key>
		<string>6.6.1.4696</string>
		<key>os_version</key>
		<string>15.0</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Core command-line tools used by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center core tools</string>
	<key>icon_name</key>
	<string></string>
	<key>installed_size</key>
	<integer>1222</integer>
	<key>installer_item_hash</key>
	<string>9ff0d30e0fa7a48621000367bbda57fc6e645cf8de7ad71c4d57a472665d16a2</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_core-6.6.2.4699.pkg</string>
	<key>installer_item_size</key>
	<integer>261</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools_core</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1222</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>6.6.2.4699</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_python</string>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.6.2.4699</string>
</dict>
</plist>
