<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-16T04:58:36Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Managed software installation for macOS.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center</string>
	<key>icon_name</key>
	<string>munkitools.png</string>
	<key>installed_size</key>
	<integer>70621</integer>
	<key>installer_item_hash</key>
	<string>8da9d1c63af4d01d61bd3da6dc02ea8a024e449766d0deccac767adcc2b9c9f3</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools-7.0.10.5496__4.pkg</string>
	<key>installer_item_size</key>
	<integer>25135</integer>
	<key>minimum_os_version</key>
	<string>10.15</string>
	<key>name</key>
	<string>munkitools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>36172</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>7.0.10.5496</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>21227</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>7.0.10.5496</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9336</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>7.0.10.5496</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1298</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app_usage</string>
			<key>version</key>
			<string>7.0.10.5496</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>517</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>7.0.0.5320</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>970</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.pythonlibs</string>
			<key>version</key>
			<string>6.7.0.5293</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1101</integer>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.googlecode.munki.libs</string>
			<key>version</key>
			<string>5.5</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.0.10.5496</string>
</dict>
</plist>
