<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2024-08-14T04:51:48Z</date>
		<key>munki_version</key>
		<string>6.5.1.4661</string>
		<key>os_version</key>
		<string>14.4.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Embedded Python tools used by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center embedded python</string>
	<key>installed_size</key>
	<integer>141026</integer>
	<key>installer_item_hash</key>
	<string>6be5475a702efb0d8f06ba797bd6f22d3a3d2936762e0d9bc677900e46a83194</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_python-3.12.2.4689.pkg</string>
	<key>installer_item_size</key>
	<integer>41938</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools_python</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>141026</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.python</string>
			<key>version</key>
			<string>3.12.2.4689</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.12.2.4689</string>
</dict>
</plist>
