<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2026-04-15T04:58:13Z</date>
		<key>munki_version</key>
		<string>7.0.0.5328</string>
		<key>os_version</key>
		<string>26.3.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Managed software installation for macOS.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center</string>
	<key>icon_name</key>
	<string></string>
	<key>installed_size</key>
	<integer>154833</integer>
	<key>installer_item_hash</key>
	<string>388689698a0a03b33b0ea5b1b0a44ee1910e799836a8ce22bfc37b79c23dbd3c</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools-6.7.1.4732__32.pkg</string>
	<key>installer_item_size</key>
	<integer>49488</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools6</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1227</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>6.7.1.4732</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>134</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>6.7.1.4732</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>28798</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>6.7.1.4732</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>25</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app_usage</string>
			<key>version</key>
			<string>6.7.1.4732</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>124639</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.python</string>
			<key>version</key>
			<string>3.12.2.4689</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>6.6.0.4656</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.7.1.4732</string>
</dict>
</plist>
