<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>dwbergstrom</string>
		<key>creation_date</key>
		<date>2025-07-29T16:16:38Z</date>
		<key>munki_version</key>
		<string>6.6.3.4704</string>
		<key>os_version</key>
		<string>15.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>AppGate SDP.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>AppGate brings secure access to your infrastructure using better network security than legacy VPNs, NACs and firewalls.</string>
	<key>developer</key>
	<string>CYXTERA TECHNOLOGIES, INC.</string>
	<key>display_name</key>
	<string>AppGate SDP</string>
	<key>installed_size</key>
	<integer>578185</integer>
	<key>installer_item_hash</key>
	<string>de71505d9300b12a468e094474b2955c028d65a8772c3ce024ea24a4589adad5</string>
	<key>installer_item_location</key>
	<string>apps/AppGate SDP/AppGate SDP-6.5.2.42437.dmg</string>
	<key>installer_item_size</key>
	<integer>172974</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>AppGate SDP</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>578185</integer>
			<key>packageid</key>
			<string>com.appgate.pkg.appgatetun.component</string>
			<key>version</key>
			<string>6.5.2.42437</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.5.2.42437</string>
</dict>
</plist>
